230219K_EN3150_A01.tex

# Virtual environment
.venv/
a02_venv/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# LaTeX temporary files
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk

# nbconvert support folders
*_files/

